<h1>Adoption</h1>

<%= form_tag '/pets', method: 'get' do %>
	<%= select_tag("animal", options_for_select(Pet::KINDS)) %>
	<%= text_field_tag :location %>
	<%= submit_tag "Search" %>
<% end %>
<!-- could I set up the logic in here? Probably bad practice, but just to get it working... -->
<!-- I want there to place all shelter names, not ids here -->
<% @pet_list.each do |entry| %>
	<tr>
		<!-- <td><img src=<%= entry.photos.first %>></td> -->
		<td><img src="#{entry.photos.first.medium}" alt="Image of #{entry.name}"></td>
		<td><%= link_to entry.name, "/pets/#{entry.id}" %></td>
		<td><%= entry.sex %></td>
		<td><%= entry.age %></td>
	</tr>
	<br>
<% end %>
<!-- The shelter method from petfinder takes a shelter id as input and returns the details of that particular shelter, I need to set it up so that everytime I click on a pet that they go to a page with the shelter id of that particular pet and render all pertinent info -->
<!-- Ok I've gotten to the point where I can actually go to individual pages for pets, now I must figure out how to get the pet's information and the shelter information to display on the page. -->