<h1>Adoption</h1>

<%= form_tag '/pets', method: 'get' do %>
	<%= select_tag("animal", options_for_select(Pet::KINDS)) %>
	<%= text_field_tag :location %>
	<%= submit_tag "Search" %>
<% end %>

<% @pets.each do |pet| %>
	<%= pet %>
<% end %>